# Core functionality - changes here should be rare!
/src/app.py                   @phimaja03
/src/backend/database.py      @phimaja03
/src/backend/routers/auth.py  @phimaja03

# The frontend will need refactored soon to be more object oriented.
/src/static/   @phimaja03
